* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    margin: 0px;
}

body{

    background-image: url("fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500vh;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    box-sizing: border-box;
}

.textnav {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
}

h2 {
    border: solid 2px;
    padding: 6px 10px;
    font-size: smaller;
    font-weight: bolder;
    color: chartreuse;
    white-space: nowrap;
}

.sessao1{

    width: 70%;
    margin: 10%;
    height: 20%;
    margin-left: 5%;
}

.sessao1 img{

    width: 30%;
}

.sessao1 h1{
    color: white;
    font-weight: bold;
    font-size: 70px;
}

.sessao1 h6{

    color: white;
    font-weight: 700;
    font-size: 18px;
    width: 60%;
}

.traco {
    background-color: chartreuse;
    width: 5%;
    height: 10px;
    margin-bottom: 25px;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

