* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    margin: 0px;
}

h2{

    color: white;
    margin-left: 10px;
}

nav{

    background-color: #6B8E23;
    display: flex;
    justify-content: space-between;
    padding: 1%;    
}

body{

    margin: 0;
}

.acesso{

    display: flex;
    flex-direction: row;
    align-items: center;
}

h3, a{

    color: white;
    text-decoration: none;
    margin: 6px;

}

.titulo{

    background-image: url("./img/fundo.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    padding: 10%;
    color: white;
    font-size: 30px;
}

.card {

    color: white;
    background-color: #6B8E23;
    margin: 10px;
    height: 300px;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10%;
    
}

.card img {
    height: 70%;
    width: 250px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;

}

.card h4{

    margin-top: 12%;
}

.cardAlinhamento {

    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-around;
    align-items: center;

}

.descricao{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 4%;
}

.cardProdutos {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 2%;
  }
  

.cardProdutos h2 {
    color: #333;
    
  }
  
  .card-image img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-content .price {
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }

  .destino{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }